.title {
  text-align: center;
}

.action-content {
  display: flex;
  justify-content: center;
}

table {
  text-align: center;
}

.action-content div {
  margin-left: 2%;
}

.r-container{
  margin: 0% 0% 2% 0%;
  padding-bottom: 3%;
}

.r-container .title {
  display: flex;
  justify-content: space-between;
  margin: 5% 0% 2% 0%;
}

.not-found {
  text-align: center;
}
