<div class="top">
  <div class="nav">

    <div>
      <li class="nav-item">
        <a class="nav-link active" routerLink='/' >Home</a>
      </li>
    </div>

    <div>
      <h5>Exam Score Management</h5>
    </div>

    <div>
      <button type="button" class="btn btn-danger" (click)="logout()">
        Logout
      </button>
    </div>
  </div>
</div>



<div class="container">
  <router-outlet></router-outlet>
</div>

<div class="tailer">
  
  <div>
    สุธิมา เพ่งพินิจ 590510137
  </div>

</div>
