<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" (click)="gotoCourseDetail()">
      <i class="fa fa-arrow-left"></i> /CourseDetail
    </a>
</ul>

<div class="card">
  <form [formGroup]="editExamTypeForm" (ngSubmit)="submit()">

    <div class="form-group">
      <label>Full score</label>
      <input formControlName="score" type="number" class="form-control">
      <small id="msg-err" *ngIf="editExamTypeForm.controls.score.errors?.required">
        Score Require
      </small>
      <small id="msg-err" *ngIf="editExamTypeForm.controls.score.errors?.min">
        Score should more than 0
      </small>
      <small id="msg-err" *ngIf="editExamTypeForm.controls.score.errors?.max">
        Score should less than 100
      </small>
    </div>


    <div class="form-group btngroup">
      <button type="submit" class="btn btn-success" [disabled]="!editExamTypeForm.valid">Submit</button>
    </div>
  </form>
</div>
